.header {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 14px 120px;
    position: relative;
    box-shadow: 0 0 50px rgba(0,0,0,.04);
}